<h2>Cadastrando Estado</h2>
<form action="/cadastrado" method="post">
  <div class="row w-50 d-block m-auto g-3 text-start">
    <div class="col-12">
        <label class="form-label" for="estado">Estado:</label>
        <input class="form-control" type="estado" name="estado" id="estado"
        placeholder="Digite o nome do estado" />
    </div>
    <div class="col-12">
        <label class="form-label" for="regiao">Região:</label>
        <input class="form-control" type="regiao" name="regiao" id="regiao"
        placeholder="Digite a região do estado" />  
    </div>
    <div>
      <input class="btn btn-primary my-3" type="submit" value="Cadastrar estado"/>
    </div>
  </div>
</form>